<div class="profile">
    <div class="infoWrapper">
        <div class="profile_info">
            <div class="titleWrapper">
                <div class="img"></div>
                <div class="info">
                    <p class="name">{{user.getUsername}} Doe</p>
                    <p class="email">{{user.getEmail}}</p>
                    <p class="phone_number">+47 123 45 678</p>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="rating">
                    Mine omtaler: 
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i>
                </div>
                <div class="location">
                    Geografi: Trondheim, Oslo
                </div>
                <div class="description">
                    <pre>
Om profilen min:    
Fiskeboller er digg
Fotball er livet

()_()          ()_()            ()_())_()
(=’.’)    +    (=’.’)     =     (=’.’)=’,’)
(,(‘’)(‘’)     (,(‘’)(‘’)       (,(“)(“)(“)(“)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                    </pre>
                </div>
                <a href="/profil/rediger"><app-button text="Rediger profil" class="btn pink"></app-button></a>
            </div>
        </div>
    </div>
    <div class="post_list">
        <h2>Mine aktive annonser</h2>
        <div class="posts">
            <!-- All users posts for now :) -->
            <app-post-thumbnail *ngFor="let post of allPosts" [post]="post"></app-post-thumbnail>
        </div>
        <br><br>
        <h2>Mine favoritter</h2>
        <div class="posts">
            <!-- All users posts for now :) -->
            <app-post-thumbnail *ngFor="let post of favouritedPosts" [post]="post"></app-post-thumbnail>
        </div>
    </div>
  
</div>
