<div class="registrationForm">
    <h3>Rediger bruker</h3>

    <app-input [(inputModel)]="username" label="Brukernavn" (blur)="checkForm()"></app-input>

    <app-input [(inputModel)]="email" label="Epost" (blur)="checkForm()"></app-input>

    <app-input type="password" [(inputModel)]="password" label="Passord" (blur)="checkForm()"></app-input>

    <app-input type="password" [(inputModel)]="confirm_password" label="Bekreft passord" (blur)="checkForm()"></app-input>

    <p>{{statusMessage}}</p>

    <app-button (click)="updateUser()" text="Lagre endringer"></app-button>
</div>