<div class="registrationForm">
	<div class="cardWrapper">
		<h3>Rediger bruker</h3>
		<div>
			<app-input [(inputModel)]="username" label="Brukernavn" (blur)="checkForm()"></app-input>
            <app-input [(inputModel)]="email" label="Epost" (blur)="checkForm()"></app-input>
            <app-input type="password" [(inputModel)]="password" label="Passord" (blur)="checkForm()"></app-input>
            <app-input type="password" [(inputModel)]="confirm_password" label="Bekreft passord" (blur)="checkForm()"></app-input>
			<p class="status">{{statusMessage}}</p>
			<app-button (click)="updateUser()" text="Lagre endringer"></app-button>
			<app-button (click)="deleteUser()" text="Slett bruker"></app-button>
			<a href="/profil"><app-button text="Tilbake til profil"></app-button></a>
		</div>
	</div>
</div>