<div class="home">
    <div class="categoryWrapper">
        <p>Kategorier</p>
        <div class="whiteBox"></div>
    </div>
    <div class="cta">
        <h2>Lorem Ipsum</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <div class="buttons">
            <button (click)="navigate('/register')" class="btn">Registrer deg!</button>
            <button (click)="navigate('/')" class="btn pink">Les mer</button>
        </div>
    </div>
</div>