<div class="home">
    <div class="categoryWrapper">
        <p>Kategorier</p>
        <div class="whiteBox"></div>
    </div>
    <div class="cta">
        <h2>Lorem Ipsum</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <div class="buttons">
            <button (click)="navigate('/register')" class="btn">Registrer deg!</button>
            <button (click)="navigate('/')" class="btn pink">Les mer</button>
        </div>
    </div>
</div>
<div class="postContainer">
    <h2>Annonser i nærheten av deg</h2>
    <p *ngIf="this.user.getUserId == 0">Logg inn for å se annonsene...</p>
    <p *ngIf="this.user.getUserId != 0 && allPosts.length == 0">Ingen annonser i nærheten av deg...</p>
    <app-post-thumbnail *ngFor="let post of allPosts" [post]="post"></app-post-thumbnail>
</div>