div.navbar {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 8px;

	span.logo {
		padding: 10px;
		width: 200px;
		margin-left: 10px;
		font-size: 40px;
		font-weight: bold;
		cursor: pointer;
	}
	nav {
		span{
			padding: 10px;
			cursor: pointer;
			height: 100%;
			font-size: 25px;
			background-color: #fff;
		}
		span:hover{
			background-color: #eee;
		}
	}
}
div.splash {
	position: absolute;
	width: 100%;
	height: 55vh;
	background-color: springgreen;
	background-image: url("../assets/img/backgroundImage.png");
	background-size: cover;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	button {
		color: #ffffff;
		text-decoration: none;
	}
	div {
		position: relative;
	}
	div.title {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		font-family: 'Inter', sans-serif;
		font-size: 2em;
		text-shadow: -2px 2px 3px #000000;
		h1 {
			letter-spacing: 10px;
		}
	}
	img {
		position: absolute;
		height: 100%;
		bottom: -10%;
		object-fit: cover;
	}
	div.wave {
		position: absolute;
		left: 0;
		bottom: 0;
		position: absolute;
		top: 250px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;

		div.waveImg {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 110%;
			background-image: url(../assets/img/wave2.svg);
			background-repeat: no-repeat;  
			background-attachment: scroll;  
			background-position: 0% 0%;
			background-size: 100vw auto;
		}
	}
}
div.wrapper {
	position: relative;
	top: 125px;
	padding: 5%;
	width: 100%;
	height: 100%;
}
div.footer {
	color: #ffffff;
	background-color: rgb(80, 80, 80);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	width: 100%;
	bottom: 0;
	div.info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-right: 5%;
		width: 400px;
		ul {
			padding-left: 20px;
		}
	}
	div.logo {
		margin-left: 5%;
	}
}
