<div class="body">
	<div class="navbar">
		<span class="logo" (click)="navigate('/')">
			<img src="../assets/img/SellPointLogo1.png" alt="logo">
		</span>
		<nav>
			<span (click)="navigate('/annonse')">Annonser</span>
			<span (click)="navigate('/annonse/ny')">Lag annonse</span>
			<span *ngIf="!user.getUserId" (click)="navigate('/register')">Registrer</span>
			<span *ngIf="!user.getUserId" (click)="navigate('/login')">Logg inn</span>
			<span *ngIf="user.getUserId" (click)="navigate('/profil')">Profil</span>
			<span *ngIf="user.getUserId" (click)="logout()">Logg ut</span>
		</nav>
	</div>

	<div class="splash">
		<div class="title"><h1>SELLPOINT</h1></div>

		<div class="wave">
			<div class="waveImg"></div>
		</div>
	</div>

	<div class="wrapper">
		<router-outlet></router-outlet>
	</div>
</div>
<div class="footer">
	<div class="logo">
		<a style="display: block;" href="/"><img src="../assets/img/SellPointLogo2.png" alt="logo"></a>
	</div>
	<div class="info">
		<div class="bedrift">
			<h3>For bedrifter</h3>
			<ul>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
			</ul>
		</div>
		<div class="omoss">
			<h3>Om SellPoint</h3>
			<ul>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
			</ul>
		</div>
		<div class="personvern">
			<h3>Personvern</h3>
			<ul>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
			</ul>
		</div>
	</div>
</div>
