<div class="navbar">
	<a class="logo" href="/">SELLPOINT</a>
	<nav>
		<a href="/">/</a>
		<a href="/annonse">/annonse</a>
		<a href="/annonse/ny">/annonse/ny</a>
		<a href="/register">/register</a>
		<a href="/login">/login</a>
		<a href="/profile">/profile</a>
	</nav>
</div>
<div class="splash">
	<div class="title"><h1>SELLPOINT</h1></div>
	<div class="wave">
		<div class="waveImg"></div>
		<div class="categoryWrapper">
			<p>Søk etter kategorier...</p>
			<p>Kategorier...</p>
			<div class="whiteBox"></div>
		</div>
		<div class="cta">
			<h2>Lorem Ipsum</h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			<div class="buttons">
				<a href="/register" class="btn">Register deg!</a>
				<a href="javascript:void(0)" class="btn pink">Les mer</a>
			</div>
		</div>

	</div>
</div>

<div class="wrapper">
	<router-outlet></router-outlet>
</div>

<div class="footer">
	<div class="logo"><h1>SELLPOINT LOGO</h1></div>
	<div class="info">
		<div class="bedrift">
			<h3>Lorem ipsum</h3>
			<ul>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
			</ul>
		</div>
		<div class="omoss">
			<h3>Lorem ipsum</h3>
			<ul>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
			</ul>
		</div>
		<div class="personvern">
			<h3>Lorem ipsum</h3>
			<ul>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
				<li>Lorem ipsum</li>
			</ul>
		</div>
	</div>
</div>