<div *ngIf="contactPopup" class="popupWrapper">
    <div class="popupContainer">
        <h2 >{{contactUsers.length > 0 ? "Choose user sold to:" : "No user found, continue?"}}</h2>
        <div class="popup">
            <div *ngFor="let user of contactUsers">
                <input type="radio" [id]="user.getUserId" name="user" [(ngModel)]="soldToUser" [value]="user.getUserId">
                <label [for]="user.getUserId">{{user.getUsername}} - {{user.getEmail}}</label>
            </div>
            <app-button class="ownerButton" [text]="contactUsers.length > 0 ? 'Velg bruker solgt til' : 'Marker posten solgt!'" (click)="markClosedPost()"></app-button>
            <app-button class="ownerButton" text="Lukk" (click)="closePopup()"></app-button>
        </div>
    </div>
</div>
<div class="container">
    <div class="greenBox">
        <h2>{{post.getTitle}}</h2>
        <div class="whiteBox">
            <div class="pinkBox">
                <img [src]="post.getImageUrl">
            </div>

            <div class="ownerInfo">
                <u id="owner" (click)="navigateOwner()">{{owner.getUsername}}</u>
                <p>E-mail: {{owner.getEmail}}</p>
            </div>

            <hr>
            
            <p>Pris:</p>
            <h3>{{post.getPrice}} kr</h3>

            <p id="description">{{post.getDescription}}</p>
            <br>

            <p id="timestamp">Publisert: {{post.getTimestamp}}</p>

            <div *ngIf="userId != post.getOwner" class="buttonContainer">
                <a [href]="'mailto:'+owner.getEmail"><app-button class="ownerButton" text="Kontakt selger" (click)="contactPost()"></app-button></a>
            </div>
            <div *ngIf="userId == post.getOwner || user.getIsAdmin" class="buttonContainer">
                <app-button class="ownerButton" text="Rediger annonse" (click)="editPost()"></app-button>
                <app-button class="ownerButton" text="Slett annonse" (click)="deletePost()"></app-button>
                <div *ngIf="post.getStatus != 1">
                    <app-button class="ownerButton" text="Marker solgt" (click)="markClosePost()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>
