<div class="container">
    <div class="greenBox">
        <h2>{{post.getTitle}}</h2>
        <div class="whiteBox">
            <div class="pinkBox">
                <img [src]="post.getImageUrl">
            </div>

            <div class="ownerInfo">
                <p>Owner: {{owner.getUsername}}</p>
                <p>E-mail: {{owner.getEmail}}</p>
            </div>

            <hr>
            
            <p>Pris:</p>
            <h3>{{post.getPrice}} kr</h3>

            <p id="description">{{post.getDescription}}</p>
            <br>

            <p id="timestamp">Publisert: {{post.getTimestamp}}</p>

            <div *ngIf="userId == post.getOwner" class="buttonContainer">
                <app-button class="ownerButton" text="Rediger annonse" (click)="editPost()"></app-button>
                <app-button class="ownerButton" text="Slett annonse" (click)="deletePost()"></app-button>
            </div>
        </div>
    </div>
</div>
