select {
    padding: 15px 10px 15px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    background-color: #FFA1A1;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}