<div class="registrationForm">
	<div class="cardWrapper">
		<h3>{{user?'Rediger profil':'Registrer bruker'}}</h3>
		<div>
			<div class="split">
				<app-input class="splittedInput" [(inputModel)]="firstname" label="Fornavn" (blur)="checkForm()"></app-input>
				<app-input class="splittedInput" [(inputModel)]="lastname" label="Etternavn" (blur)="checkForm()"></app-input>
			</div>
			<app-input [(inputModel)]="username" label="Brukernavn" (blur)="checkForm()"></app-input>
			<app-input [(inputModel)]="email" label="Epost" (blur)="checkForm()"></app-input>
			<app-input [(inputModel)]="phone_number" label="Mobilnummer" (blur)="checkForm()"></app-input>
			<app-select [(inputModel)]="location" label="Fylke">
				<option selected>Velg fylke . . .</option>
				<option>Agder</option>
				<option>Innlandet</option>
				<option>Møre og Romsdal</option>
				<option>Nordland</option>
				<option>Oslo</option>
				<option>Rogaland</option>
				<option>Troms og Finnmark</option>
				<option>Trøndelag</option>
				<option>Vestfold og Telemark</option>
				<option>Vestland</option>
				<option>Viken</option>
			</app-select>
			<app-input [(inputModel)]="password" type="password" label="Passord" (blur)="checkForm()"></app-input>
			<app-input [(inputModel)]="confirm_password" type="password" label="Bekreft passord" (blur)="checkForm()"></app-input>
			<p class="status">{{statusMessage}}</p>
			<app-button (click)="registerUser()" [text]="user?'Lagre endringer':'Registrer profil'" class="btn pink"></app-button>

			<app-button *ngIf="user" (click)="deleteUser()" text="Slett bruker"></app-button>
		</div>
	</div>
</div>