<h3>Lag annonse</h3>

<label for="title">Title</label>
<input id="title" [(ngModel)]="title">

<label for="description">Description</label>

<input id="description" [(ngModel)]="description">

<label for="price">Pris</label>
<input id="price" [(ngModel)]="price">

<label for="category">Kategori</label>
<select id="category" [(ngModel)]="categoryid">
    <option value="1">Antikviteter og Kunst</option>
    <option value="2">Dyr og Utstyr</option>
    <option value="3">Elektronikk og Hvitevarer</option>
</select>

<button (click)="publishPost()">Publiser</button>