:host > .profile {
    margin-top: 300px;
    display:flex;
    justify-content: center;
    padding: 0 5% 5% 5%;
    font-family: 'Josefin Sans', sans-serif;
    transform: translateY(-100px);
    .profile_info {
        order: 2;
    }
}
div.profile_info {
    color: #fff;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #14A35A 0%, #24e072 100%);
    padding: 10px;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    & > div.titleWrapper {
        display: flex;
        div.info {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                padding: 2px;
            }
            .name {
                font-size: 2rem;
            }
        }
        div.img {
            min-width: 80px;
            width: 80px;
            height: 80px;
            background-color: coral;
            border-radius: 50%;
            margin: 10px;
        }
    }
    & > div.cardWrapper {
        color: #000;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 20px 10px;
        pre {
            font-size: 0.75rem;
        }
    }
}
div.post_list {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    & > h2 {
        display: inline-block;
        width: 235px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        border-bottom: 1px solid #797979;
        transform: translateY(-20px);
    }
    & > a {
        align-self: flex-end;
    }
}