label {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    input{
        padding: 10px 0 5px 0;
        font-family: 'Josefin Sans', sans-serif;
        border: none;
        border-bottom: 2px solid #000;
        font-size: 1rem;
        padding-right: 50px;
        outline: none;
        &:focus {
            border-bottom: 2px solid #14A35A;
        }
    }
    .material-icons {
        position: absolute;
        right: 2.5px;
        bottom: 2.5px;
    }
    .togglePasswordVisible {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        button {
            background: transparent;
            border: none;
            width: 30px;
            height: 30px;
        }
    }
}