<label>
    {{label}}

    <input  
    [type]="isVisible ? 'text' : 'password'"
    [placeholder]="placeholder"
    [(ngModel)]="inputModel" 
    (ngModelChange)="inputModelChange.emit(inputModel)" 
    (change)="change.emit($event)"
    (focus)="focus.emit($event)"
    (blur)="blur.emit($event)">
    <i class="material-icons">{{toggleText}}</i>
    <app-button (click)="togglePasswordVisible()" [class]="toggleText == 'show' ? 'togglePasswordVisible show' : 'togglePasswordVisible hide'"></app-button>
</label>