div.title {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    text-shadow: -2px 2px 3px #000000;
    color: white;
    h2 {
        letter-spacing: 10px;
    }
}

div.container{
    margin-bottom: 100px;
    margin-top: 250px;
    display: grid;
    grid-template-columns: 400px 3fr;
    gap: 25px;

    div.filterContainer{
        background: linear-gradient(#24e072 0%, #14A35A 100%);
        height: 600px;
        padding: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
        
        div.whiteBox{
            background-color: #fff;
            padding: 20px;
            height: 100%;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
            display: grid;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16pt;
            gap: 20px;

            div.areaContainer{
                display: grid;
                gap: 5px;

                input.checkbox{
                    width: 16px;
                    height: 16px;                    
                }
            }

            div.priceRangeContainer{                
                u{
                    display: block;
                }

                p{
                    display: inline;
                }

                p#rightText{
                    float: right;
                }

                input.priceRange{
                    -webkit-appearance: none;
                    width: 100%;
                    display: inline;
                    outline: none;
                    background: #aaaaaa;
                    height: 6px;
                }

                input.priceRange::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 5px;
                    height: 18px;
                    border-radius: 40%;
                    background: #FFA1A1;
                    cursor: pointer;
                }

                input#priceRangeMin::-webkit-slider-thumb {
                    background: #e98686;
                }

                input#priceRangeMax::-webkit-slider-thumb{
                    position: relative;
                    top: -20px;
                }

                input#priceRangeMax::-webkit-slider-runnable-track {
                    background: white;
                }
            }
        }
    }

    div.postContainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 384px);
        gap: 30px;
    }
}

.sortContainer{
    width: 250px;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}